<h2>今までのコメント</h2>
  <% @comments.find().sort({'posttime':-1}).each { |comment| %>
    <%= h comment["posttime"] %> <%= h comment["name"] %> 
    <p><%= h(comment["comment"]).gsub(/(\r\n|\r|\n)/, "<br/>") %></p>
  <% } %>

<h2>新しくコメントを投稿</h2>
<form method="post" action="comment">
  <table>
    <tr>
      <td>Name
      <td><input type="text" name="name">
    <tr>
      <td>Comment
      <td><textarea name="comment" cols=40 rows=5></textarea>
    <tr>
      <td><input type="submit" value="送信">
</table>
</form>